body {
  background: url("https://media.istockphoto.com/id/620951116/photo/panoramic-view-of-colorful-sunrise-in-mountains.jpg?s=612x612&w=0&k=20&c=6IO5LBwLVSBPxQD4L5NlrxRkygeocjA5OKg8iKqvT58=");
  background-size: cover;
}
.helpd {
  background-color: rgb(67, 68, 47);
}
#abtTitle {
  color: rgb(4, 42, 78);
  font-size: 50px;
  font-family: Trebuchet MS;
}
c {
  color: yellow;
  font-weight: bold;
  font-style: italic;
}
h2 {
  color: rgb(11, 97, 176);
  font-family: Trebuchet MS;
}
li {
  color: whitesmoke;
  font-family: Courier New;
}
p {
  color: whitesmoke;
  font-family: Verdana;
}
